<div class="container my-5">
  <div class="mb-4 text-center">
    <h1 class="mb-3">Liste des sessions de formation</h1>
    <h5 class="text-muted">
      Total des participants: {{ totalParticipants }}
    </h5>
    <p class="font-italic">Suivre les sessions auxquelles je peux participer</p>
  </div>

  <div *ngIf="oldSessions.length === 0" class="alert alert-warning">
    Aucune session n'est disponible.
  </div>

  <ul *ngIf="oldSessions.length > 0" class="list-group mb-5">
    <li *ngFor="let oldSession of oldSessions" class="list-group-item">
      {{ oldSession.name }} - {{ oldSession.date }} - {{ oldSession.location }}
    </li>
  </ul>

  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let session of sessions">
      <session-item [session]="session" (participantChange)="updateTotalParticipants($event)"
        (modeChange)="updateMode(session, $event)">
      </session-item>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>