<div class="card text-light" style="width: 18rem; background-color: #29394b;">
    <div class="card-body">
        <h2 class="card-title text-primary" [id]="name">{{name}}</h2>
        <h6 class="card-subtitle mb-2" [ngStyle]="{'color': couleur}">{{ subtitle }}</h6>
        <p class="card-text">{{ date }}</p>
        <p class="card-text">{{ location }}</p>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-danger btn-sm">Détails</a>
            <a class="btn btn-success btn-sm">Inscription</a>
            <a class="btn btn-info btn-sm">Partager</a>
        </div>
    </div>
</div>